@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../js/**/*.tsx';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

/* Force dark mode to rely on the .dark class, ignoring system preference unless managed by JS */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}